@font-face {
    font-family: "MiLetra";
    src: url("../assets/fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf");
}

body{
    background-image: url(../assets/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div{
    box-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black;
}

@keyframes aparecerDesaparecer {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.evento{
    font-family: "MiLetra";
    font-size: 4rem;
    animation: aparecerDesaparecer 1.5s ease-in-out infinite;
}

/*div::first-letter{
    font-size: 5rem;
}*/

/* Pseudoselector para hacer que del div, se coja solamente lo que se añade gracias al main.js es decir las etiquetas <p>*/
div:last-child{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
}